.test-border {
  border: solid 1px red;
}

@media (max-width: 600px) {
  .flex-container {
    display: flex;
    /* flex-direction: column;
   justify-content: center;  */
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
}

.site-name {
  background-color: pink;
}

.world-map {
  width: 100%;
}

/* h1 {
  color: blue;
}  */
