.test-border {
  border: solid 1px red;
}

.test-border-parent {
  border: solid 1px orange;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
}

.map-pic {
  max-width: "100%";
  max-height: "100%";
}

.site-name {
  background-color: pink;
}

.world-map {
  width: 100%;
}

/* h1 {
  color: blue;
}  */

@media (max-width: 600px) {
  .flex-container {
    flex-direction: row;
    rotate: deg;
    /* width: 100%;
    
   justify-content: center;  */
  }

  .map-pic {
    /* 
    max-width: fit-content;
    max-height: fit-content; 
    */
  }

  .site-name {
    writing-mode: vertical-lr;
    rotate: 180deg;
    text-align: center;
  }

  .world-map {
    /*
    rotate: 270deg;
    */
    width: ;
  }
}
