.test-border {
  border: solid 1px red;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
}

.site-name {
  background-color: pink;
}

.world-map {
  width: max-content;
}

/* h1 {
  color: blue;
}  */
